<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <% menu.forEach((item, index)=>{ %>
    <p><% if(item.category === 'mains'){ %>
        <ul>
            <li>
            name : <%= item.name %> <br />
            price : <%= item.price %> <br />
            rating : <%= item.rating %> <br />
            details : <%= item.details %> <br />
            </li>
        </ul> 
        <% } %></p>
    <% }) %>
    <h2>Desserts</h2>
    <% menu.forEach((item, index)=>{ %>
    <p><% if(item.category === 'desserts'){ %>
        <ul>
            <li>
            name : <%= item.name %> <br />
            price : <%= item.price %> <br />
            rating : <%= item.rating %> <br />
            details : <%= item.details %> <br />
            </li>
        </ul> 
        <% } %></p>
    <% }) %>
    <h2>Sides</h2>
    <% menu.forEach((item, index)=>{ %>
    <p><% if(item.category === 'sides'){ %>
        <ul>
            <li>
            name : <%= item.name %> <br />
            price : <%= item.price %> <br />
            rating : <%= item.rating %> <br />
            details : <%= item.details %> <br />
            </li>
        </ul> 
        <% } %></p>
    <% }) %>
</body>
</html>